.env

output/

assets/**
!assets/badwords.txt
!assets/README.md

!assets/fonts/
!assets/fonts/**

!assets/audio/
!assets/audio/audio_1.mp3

!assets/audio_for_video/
!assets/audio_for_video/audio_1.mp3

!assets/backgrounds_image/
!assets/backgrounds_image/bg1.jpg

!assets/backgrounds_video/
!assets/backgrounds_video/bg1_compressed.mp4

!assets/banners/
!assets/banners/banner.mov

!assets/distractions/
!assets/distractions/pic_2.png

!assets/emoji/
!assets/emoji/1.png

!assets/luts/
!assets/luts/lut1.cube

!assets/overlays/
!assets/overlays/10_compressed.mov

!assets/particles/
!assets/particles/color_frame_animation.mp4

.vscode/
.idea/
